<mat-toolbar>
  <mat-toolbar-row>
    <span (click)="onLogoClicked()">
      <img src="../../../../assets/images/logo.png" alt="Logo">
    </span>
    <span class="fillSpace"></span>
    <span *ngIf="isLoggedIn">
      <button mat-mini-fab color="warn" [matMenuTriggerFor]="account" class="defaultProfileImage"></button>
      <mat-menu #account="matMenu">
        <button mat-menu-item> {{ loggedInUsername }}</button>
        <button mat-menu-item (click)="openEditDialog()" translate>Header.EditProfile</button>
        <button mat-menu-item (click)="onHistoryClicked()" translate>Header.History</button>
        <button mat-menu-item (click)="onLogoutClicked()" translate>Header.Logout</button>
      </mat-menu>
    </span>
    &nbsp;
    <span>
      <button mat-button [matMenuTriggerFor]="languages" class="defaultLanguage">English</button>
      <mat-menu #languages="matMenu">
        <button mat-menu-item>German</button>
      </mat-menu>
    </span>
    &nbsp;
    <span *ngIf="isLoggedIn">
      <button mat-icon-button (click)="onLogoutClicked()" matTooltip="Logout">
        Logout <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
    <span>
    &nbsp;
    </span>
  </mat-toolbar-row>
</mat-toolbar>