/* .example-card {
  margin-top: 30px;
}

.gift-name {
  float: left;
  width: 95%;
}

.gift-title{
  width: 250px;
  height: 50px;
}

.gift-frequency{
  float: right;
  width: 5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.discription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* .card-image {
  width: 400px;
  height: 250px;
} */
.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
} */


.card, .card-cascade {
  cursor: pointer;
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 200px; */
    /* height: 200px; */
    margin-bottom: 2rem; 
}

.card:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

ngb-rating {
  color: rgb(255, 217, 0);
}

#gift-frequency {
  float: left;
  margin-right: 1rem;
}

.gift-views {
  background-image: url("../../../../assets/images/icon-view-7.jpg");
  background-size: cover;
}

.gift-points {
  background-image: url(" ../../../../assets/images/dollar.png");
  background-size: cover;
}

h6 {
  color: rgb(238, 74, 101);
  /* color: rgb(32, 154, 224) */
}
h4 {
  color: rgb(109, 94, 94);
}
p{
  color: gray;
}
/* 
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} */

#dashed {
  border: 1px dashed rgb(248, 99, 161);
}
.card-text:last-child {
  margin-bottom: 0;
  font-size: medium;
}
