<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" id="giftSearch">
    <app-user-search></app-user-search>
  </div>
</div>
<div class="row" id="cardImage"></div>
<hr>
<div class="row" id="text">
  <div class="offset-md-2 col-md-8 text-center">
    <h2>Share happiness with your favourite brand's gift cards.</h2>
    <!-- <h5>Get discounts on gifting now. <img src="../../../../assets/images/ezgif.com-resize1.gif" alt=""></h5> -->
    <h5><img src="../../../../assets/images/1024px-Discount_Flat_Icon_Vector.svg (1).png" alt="">Get exciting discounts
      on gifting now.</h5>
    <br>
  </div>
</div>
<div class="container">
  <div class="row" id="send-received">
    <div class="col-md-6" id="send">
      <button class="btn btn-danger form-control" (click)="onToggle('S')">SEND</button>
    </div>
    <div class="col-md-6" id="received">
      <button class="btn btn-danger form-control" (click)="onToggle('R')">RECEIVED</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let gift of gifts$ | async">
      <app-gift-card [gift]="gift"></app-gift-card>
    </div>
  </div>
 </div>
