<div>
  <!-- Default form login -->
  <div class="loginComp">
    <div class="row">
      <div class="offset-md-1 col-md-5 col-sm-8 offset-sm-2 col-xs-12">
        <img class="d-block w-90 img" src="../../../../assets/images/gift-cards-pack_23-2147510447.jpg" alt="">
      </div>
      <!-- <div class="col-md-3">
        <img class="d-block w-90 img" src="../../../../assets/images/istockphoto_burned.png" alt="">
      </div> -->
       <!-- <div class="col-md-3">
        <img class="d-block w-90 img" src="../../../../assets/images/gift-cards-pack_23-2147510447.jpg" alt="">
      </div>
       <div class="col-md-3">
        <img class="d-block w-90 img" src="../../../../assets/images/gift-cards-pack_23-2147510447.jpg" alt="">
      </div> -->
      <div class="offset-md-1 col-md-4 col-sm-8 offset-sm-2 col-xs-12">
        <form class="border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
          <p class="h4 mb-4 text-center" *ngIf="!toRegister">Sign in</p>
          <p class="h4 mb-4 text-center" *ngIf="toRegister">Register</p>
          <!-- username form field -->
          <div *ngIf="toRegister">
            <input type="email" id="defaultLoginFormUser" class="form-control" placeholder="Username"
              formControlName="username" id="username">
            <mat-error *ngFor="let validation of account_validation_messages.username">
              <mat-error class="error-message"
                *ngIf="signupForm.get('username').hasError(validation.type) && ((signupForm.get('username').dirty || signupForm.get('username').touched))">
                {{validation.message}}</mat-error>
            </mat-error>
          </div>
          <!-- username form field ends -->
          <br *ngIf="signupForm.get('username').valid || !signupForm.get('username').touched">
          <!-- email form field  -->
          <div>
            <input type="email" id="defaultLoginFormEmail" class="form-control" placeholder="E-mail"
              formControlName="email">
            <mat-error *ngFor="let validation of account_validation_messages.email">
              <mat-error class="error-message"
                *ngIf="signupForm.get('email').hasError(validation.type) && ((signupForm.get('email').dirty || signupForm.get('email').touched))">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </div>
          <!-- email form field ends -->
          <br *ngIf="signupForm.get('email').valid || !signupForm.get('email').touched">
          <!-- password form field -->
          <div>
            <input type="password" id="defaultLoginFormPassword" class="form-control" placeholder="Password"
              formControlName="password">
            <mat-error *ngFor="let validation of account_validation_messages.password">
              <mat-error class="error-message"
                *ngIf="signupForm.get('password').hasError(validation.type) && ((signupForm.get('password').dirty || signupForm.get('password').touched))">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </div>
          <!-- password form field ends-->
          <br *ngIf="signupForm.get('password').valid || !signupForm.get('password').touched">
          <!-- confirm password form field -->
          <div *ngIf="toRegister">
            <input type="password" id="defaultLoginFormConfirmPassword" class="form-control"
              placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error *ngFor="let validation of account_validation_messages.confirmPassword">
              <mat-error class="error-message"
                *ngIf="signupForm.get('confirmPassword').hasError(validation.type) && ((signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched))">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </div>
          <!-- confirm password field ends-->
          <br *ngIf="signupForm.get('confirmPassword').valid || !signupForm.get('confirmPassword').touched">
          <!-- phone form field -->
          <div *ngIf="toRegister">
            <input type="" id="defaultLoginFormPhone" class="form-control" placeholder="Phone" formControlName="phone">
            <mat-error *ngFor="let validation of account_validation_messages.phone">
              <mat-error class="error-message"
                *ngIf="signupForm.get('phone').hasError(validation.type) && ((signupForm.get('phone').dirty || signupForm.get('phone').touched))">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </div>
          <!-- phone form field ends -->
          <br *ngIf="signupForm.get('phone').valid || !signupForm.get('phone').touched">

          <!-- other error messages -->
          <mat-error class="error-message" *ngIf="loginErrorCode === 'auth/user-not-found' && !toRegister">
            There is no user record corresponding to this email address. Please register first.
          </mat-error>
          <mat-error class="error-message"
            *ngIf="emailAlreadyExistsErrorCode === 'auth/email-already-in-use' && toRegister">
            The email address is already in use by another account.
          </mat-error>

          <!-- Buttons -->
          <button *ngIf="!toRegister" class="btn btn-info btn-block my-4" id="signIn"
            [disabled]="(!signupForm.get('email').valid && !signupForm.get('password').valid )|| !signupForm.touched">Sign
            in</button>

          <button *ngIf="toRegister" class="btn btn-info btn-block my-4" id="signIn"
            [disabled]="!signupForm.valid || !signupForm.touched">Register</button>

          <!-- Links -->
          <div class="text-center" *ngIf="!toRegister else loginIn;">
            <p>Not a member?
              <a (click)="onRegister()" id="registerLink">Register</a>
            </p>
          </div>
          <ng-template #loginIn>
            <div class="text-center">
              <p>Already a member?
                <a (click)="onRegister()" id="loginLink">Sign in</a>
              </p>
            </div>
          </ng-template>
        </form>
        <!-- Social login -->
        <div class="text-center" id="socialLogins">
          <button mat-mini-fab color="" (click)="onLoginWithGoogle()" class="googleSignin">

          </button>

        </div>
      </div>
    </div>
  </div>

</div>