<!-- <mat-grid-list cols="10" rowHeight="1:1">
  <mat-grid-tile colspan='6' rowspan='4'>
    <img src="../../../../assets/images/gift-cards-pack_23-2147510447.jpg" alt="">
  </mat-grid-tile>
  <mat-grid-tile colspan='4' rowspan='4'>
    <div class="example-container" [class.mat-elevation-z4]="true" id="loginForm">
      <form (ngSubmit)="onRegister()" [formGroup]="signupForm">
        <div>
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder" formControlName="username">
            <mat-error *ngFor="let validation of account_validation_messages.username">
              <mat-error class="error-message"
                *ngIf="signupForm.get('username').hasError(validation.type) && ((signupForm.get('username').dirty || signupForm.get('username').touched))">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" formControlName="email">
              <mat-error *ngFor="let validation of account_validation_messages.email">
                <mat-error class="error-message"
                  *ngIf="signupForm.get('email').hasError(validation.type) && ((signupForm.get('email').dirty || signupForm.get('email').touched))">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Placeholder" formControlName="password">
              <mat-error *ngFor="let validation of account_validation_messages.password">
                <mat-error class="error-message"
                  *ngIf="signupForm.get('password').hasError(validation.type) && ((signupForm.get('password').dirty || signupForm.get('password').touched))">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Placeholder" formControlName="confirmPassword">
              <mat-error *ngFor="let validation of account_validation_messages.confirmPassword">
                <mat-error class="error-message"
                  *ngIf="signupForm.get('confirmPassword').hasError(validation.type) && ((signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched))">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Placeholder" formControlName="phone">
              <mat-error *ngFor="let validation of account_validation_messages.phone">
                <mat-error class="error-message"
                  *ngIf="signupForm.get('phone').hasError(validation.type) && ((signupForm.get('phone').dirty || signupForm.get('phone').touched))">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary"
          [disabled]="!signupForm.valid || !signupForm.touched">Register</button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="row">
  <div class="col-md-6">
    <button (click)="onLoginWithGoogle()">Login </button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <button (click)="CheckCon()">Check </button>
  </div>
</div> -->

<!-- ngb-tabset -->
<!-- <ngb-tabset>
  <ngb-tab title="signIn"></ngb-tab>
  <ngb-tab title="Register"></ngb-tab>
</ngb-tabset> -->
<!-- ngb-tabset ends -->

<!-- Default form login -->
<div class="container-fluid">
  <div class="row">
    <div class="offset-md-1 col-md-5 col-sm-8 offset-sm-2 col-xs-12">
      <img class="d-block w-100 img" src="../../../../assets/images/gift-cards-pack_23-2147510447.jpg" alt="">
    </div>
    <div class="offset-md-1 col-md-4 col-sm-8 offset-sm-2 col-xs-12">
      <form class="border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <p class="h4 mb-4 text-center" *ngIf="!toRegister">Sign in</p>
        <p class="h4 mb-4 text-center" *ngIf="toRegister">Register</p>
        <!-- username form field -->
        <div *ngIf="toRegister">
          <input type="email" id="defaultLoginFormUser" class="form-control" placeholder="Username"
            formControlName="username" id="username">
          <mat-error *ngFor="let validation of account_validation_messages.username">
            <mat-error class="error-message"
              *ngIf="signupForm.get('username').hasError(validation.type) && ((signupForm.get('username').dirty || signupForm.get('username').touched))">
              {{validation.message}}</mat-error>
          </mat-error>
        </div>
        <!-- username form field ends -->
        <br *ngIf="signupForm.get('username').valid || !signupForm.get('username').touched">
        <!-- email form field  -->
        <div>
          <input type="email" id="defaultLoginFormEmail" class="form-control" placeholder="E-mail"
            formControlName="email">
          <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message"
              *ngIf="signupForm.get('email').hasError(validation.type) && ((signupForm.get('email').dirty || signupForm.get('email').touched))">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <!-- email form field ends -->
        <br *ngIf="signupForm.get('email').valid || !signupForm.get('email').touched">
        <!-- password form field -->
        <div>
          <input type="password" id="defaultLoginFormPassword" class="form-control" placeholder="Password"
            formControlName="password">
          <mat-error *ngFor="let validation of account_validation_messages.password">
            <mat-error class="error-message"
              *ngIf="signupForm.get('password').hasError(validation.type) && ((signupForm.get('password').dirty || signupForm.get('password').touched))">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <!-- password form field ends-->
        <br *ngIf="signupForm.get('password').valid || !signupForm.get('password').touched">
        <!-- confirm password form field -->
        <div *ngIf="toRegister">
          <input type="password" id="defaultLoginFormConfirmPassword" class="form-control"
            placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngFor="let validation of account_validation_messages.confirmPassword">
            <mat-error class="error-message"
              *ngIf="signupForm.get('confirmPassword').hasError(validation.type) && ((signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched))">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <!-- confirm password field ends-->
        <br *ngIf="signupForm.get('confirmPassword').valid || !signupForm.get('confirmPassword').touched">
        <!-- phone form field -->
        <div *ngIf="toRegister">
          <input type="" id="defaultLoginFormPhone" class="form-control" placeholder="Phone" formControlName="phone">
          <mat-error *ngFor="let validation of account_validation_messages.phone">
            <mat-error class="error-message"
              *ngIf="signupForm.get('phone').hasError(validation.type) && ((signupForm.get('phone').dirty || signupForm.get('phone').touched))">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <!-- phone form field ends -->
        <br *ngIf="signupForm.get('phone').valid || !signupForm.get('phone').touched">
        <!-- <span *ngIf="!signupForm.valid && signupForm.touched" id="errorMsg">Please fill in the right credentials</span> -->
        <!-- Remember me and forgot password -->
        <!-- <div class="d-flex justify-content-between">
          <div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
          </div>
          <div>
            <a href="">Forgot password?</a>
          </div>
        </div> -->

        <!-- Buttons -->
        <button *ngIf="!toRegister" class="btn btn-info btn-block my-4" id="signIn"
          [disabled]="!signupForm.valid || !signupForm.touched">Sign in</button>

        <button *ngIf="toRegister" class="btn btn-info btn-block my-4" id="signIn"
          [disabled]="!signupForm.valid || !signupForm.touched">Register</button>

        <!-- Links -->
        <div class="text-center" *ngIf="!toRegister else loginIn;">
          <p>Not a member?
            <a (click)="onRegister()" id="registerLink">Register</a>
          </p>
        </div>
        <ng-template #loginIn>
          <div class="text-center">
            <p>Already a member?
              <a (click)="onRegister()" id="loginLink">Sign in</a>
            </p>
          </div>
        </ng-template>
      </form>
      <!-- Social login -->
      <div class="text-center" id="socialLogins">
        <button mat-mini-fab (click)="onLoginWithGoogle()">
          <!-- <i class="fa fa-google" aria-hidden="true"></i> -->
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-mini-fab (click)="onLoginWithFacebook()">
          <i class="fa fa-facebook-f" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>