.mat-table {
  overflow: auto;
  max-height: 700px;
}

.mat-header-cell .mat-sort-header-sorted {
  color: #0a0a0a;
}

md-pagination-wrapper {
  width: auto !important;
}

md-row:nth-child(even) {
  background-color: #edf1f5;
}

md-row:nth-child(odd) {
  background-color: #fdfdfb;
}

table {
  width: 100%;
}

.example-viewport {
  height: 100px;
  width: 400px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
