.spacer {
  height: 10px;
}

input {
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: black;
  padding: 6px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}

.padtop {
  padding-top: 20%;
  padding-right: 0px;
}

h4 {
  color: crimson
}
