
input {
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: black;
  padding: 6px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}

h4 {
  color: crimson;
}

app-gift-card {
  width: max-content;
}

.container {
  margin-top: 3rem;
}

/* input {
  margin-bottom: 3rem;
} */

button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.btn, .btn-warning {
  margin-left: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

#addBtn {
  text-align: center;
}

mat-icon {
  padding: 0;
}

#gift-image{
  text-align: center;
}

#details {
  margin-top: 1rem;
}