<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
      <app-gift-card [gift]="gift"></app-gift-card>
    </div>
    <div class="col-md-4 col-sm-8 col-xs-8 col-lg-4 padtop">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-4 col-sm-4">
          <button type="button" class="btn btn-primary" (click)=" sendMail()" matTooltip="Send Gift card">Send
            Gift</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-4 col-sm-4">
          <input class="form-control round" name="input" type="number" min="1" [(ngModel)]="quantity"
            matTooltip="select how many quantities you want">
        </div>
        <div class="col-md-6 col-lg-6 col-xs-4 col-sm-4">
          <button mat-mini-fab color="primary" id="addBtn" matTooltip="Click here to give your valuable feedback"
            (click)="addFeedback()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="spacer">

</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-8 col-xs-8">
      <h4>Discription:</h4>
      <p>
        {{gift.description}}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-8 col-lg-6 ">
      <h4> Reviews:</h4>
      <div *ngFor="let giftReview of reviewList">
        <app-gift-review [review]="giftReview"></app-gift-review>
      </div>
    </div>
  </div>
</div>
