<mat-form-field>
  <input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)"
    placeholder="Search Gift Name  or Category  or discounts" />
</mat-form-field>
<button mat-mini-fab color="primary" id="addBtn" matTooltip="Click here to add GiftCard" (click)=" onGiftAddClick()">
  <mat-icon>add</mat-icon>
</button>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="gifts" class="mat-elevation-z8" matSort>

    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift Id</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element.description }}">{{ element.giftId }}</td>
    </ng-container> -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gift Name</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element.description }}" data-label="Gift Name">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
      <td mat-cell *matCellDef="let element" data-label="Rating">{{ element.rating }}</td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
      <td mat-cell *matCellDef="let element" data-label="Pooints">{{ element.points }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let element" data-label="Quantity">{{ element.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
      <td mat-cell *matCellDef="let element" data-label="Vendor">{{ element.vendor }}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element" data-label="Category">{{ element.category }}</td>
    </ng-container>
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
      <td mat-cell *matCellDef="let element" data-label="Discount">{{ element.discount }}</td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef data-label="Image">Image</th>
      <td mat-cell *matCellDef="let element">
        <span>
          <img [src]="element.imagePath" alt="{{ element.Name }}" class="img-responsive" style="max-height: 2em;" />
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element" data-label="Deactivate">
        <button mat-flat-button color="primary" *ngIf="!element.isActive"
          (click)="onDeactivate(element.key,element.isActive)">Deactivate</button>
        <button mat-flat-button color="primary" *ngIf="element.isActive"
          (click)="onDeactivate(element.key,element.isActive)">Activate </button>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
