<h2 mat-dialog-title>Give your valuable feedback</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <span>
          <p>Rate</p>
          <bar-rating [(rate)]="cssRate" [max]="5"></bar-rating>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-6 col-lg-8 col-sm-6 ">
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
          <mat-error> Please enter your comment</mat-error>
          <mat-icon matSuffix>view_headline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-8 col-lg-6 col-xs-8">

      </div>
      <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
        <button mat-raised-button color="accent" [disabled]="!feedbackForm.valid">Submit</button>
      </div>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="center" mat-dialog-title>
  <button mat-mini-fab mat-dialog-close matTooltip="Close">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>
