.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  height: 100%;
}

.admin {
  /* background: rgba(250, 28, 113, 0.808);
   */
  background: #FF324F;
  color: blanchedalmond
}

.mat-icon-button {
  color: rgba(250, 28, 113, 0.808);
}

.active {
  background: rgba(248, 248, 248, 0.808);
}

mat-sidenav {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  margin-top: 4rem;
}

table.mat-table {
  margin: 10px;
}
