<div class=container>

  <div class="col-md-6 col-sm-8 col-xs-8 col-lg-6">
    <form>
      <mat-form-field>
        <input matInput [matAutocomplete]="auto" [formControl]="giftControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let gift of filteredOptions | async" [value]="gift.name">
            <span>{{gift?.name }}</span>
            <span>||</span>
            <span>
              {{ gift?.category}}
            </span>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

</div>
