<p>
  admin-dashboard works!
</p>
<div class="col-md-6">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <app-gift-card></app-gift-card>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <app-gift-card></app-gift-card>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <app-gift-card></app-gift-card>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <app-gift-card></app-gift-card>
  </div>
</div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      Hi
    </ng-template>
  </ngb-panel>
</ngb-accordion>
