#sendBtn {
    margin-left: 0.5rem;
}

#cancel{
    margin-left: -1rem;
}

/* #closeBtn {
    position: absolute;
    top: 0;
    right: 0;
  }

.container {
  position: relative;
  display: inline-block;
} */